<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="/index.html">Home</a></li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="/blog">News</a></li>
			<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="/fellowships.html">Fellowships</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="/networking.html">Networking</a></li>
			<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="/postdoc_reps.html">Postdoc Reps</a></li>
			<li {% if current[1] == 'links.html' %}class='current'{% endif %}><a href="/links.html">Links</a></li>
		</ul>
	</nav>
</div>
